.container {
  display: flex;
  /* align-items: center; */
  background-color: rgb(16, 135, 219);
  height: 85vh ;
}

.navbar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: grey;
  width: 25%;
  height: 50%;
  margin-top: 1rem;
  padding: 1rem;
  margin-right: 1rem;

}

.menuItem {
  margin: 1rem;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  color: rgb(237, 233, 233);
}

nav li.active {
  /* font-weight: bold; */
  text-decoration: underline;
}

.content {
  flex: 1;
  margin-top: 1rem;
  margin-right: 1rem;
}